h1{
	font-size: 30px;
	font-family: Verdana, Arial, sans-serif;	
	color: green;	
}
p{
	font-size: 16px;
	font-family: Verdana, Arial, sans-serif;
	color: green;	
	margin: 0px 0px 0px 0px;
	text-align: center;
	border: 2px solid green;
	padding: 15px 0;
}